body{
    font-family: Arial,Tahoma;
}
.main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
.head{
    height: 175px;
    background-size: 100% 100%;
    background-image: url('ac/aaa.PNG');
    border: 1px solid white;
    margin-bottom: 5px;  
}
.head-link{
    color:white;
        height: 35px;
        line-height: 30px;
        padding-left: 10px;
        word-spacing: 5px;
        border: 1px solid white;
        margin-bottom: 5px;
        clear: both;
      
       font-size: 19px; 
       text-align: right;
}
.head-link a{
    text-decoration:none;
   }
   .head-link a:visited{
    color:black;
    font-variant:small-caps;
   }
  .head-link a:hover{
   color:red;
   text-decoration:none;
   }

.footer{
    height: 50px;
    clear: both;
    border:1px solid white;
    background-color: black;
    text-shadow: 0px 10px 0px white;
    font-size: 12px;